@media (max-width: 740px) {
  .hehe {
    letter-spacing: 10px;
    font-size: 15px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .tablet {
    letter-spacing: 10px;
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  .mobie {
    letter-spacing: 10px;
    font-size: 17px;
  }
}
